flows/Flow_Definitions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Active</name>
        <label>Active</label>
        <locationX>333</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>thisVersionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activeVersionID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>yesLatest</name>
        <label>yesLatest</label>
        <locationX>329</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>thisVersionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latestVersionID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Get_version</name>
        <label>Get version</label>
        <locationX>323</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>latest</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Describe_latest_version</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>activeVersionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>yesLatest</targetReference>
            </connector>
            <label>latest</label>
        </rules>
    </decisions>
    <description>Added help</description>
    <dynamicChoiceSets>
        <name>ChooseFlow</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>FlowDefinitionView</object>
        <outputAssignments>
            <assignToReference>activeVersionID</assignToReference>
            <field>ActiveVersionId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>latestVersionID</assignToReference>
            <field>LatestVersionId</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>Flow Definitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Definitions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ActiveVersionChoice</name>
        <label>flowdefscreen</label>
        <locationX>51</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_version</targetReference>
        </connector>
        <fields>
            <name>defChoices</name>
            <choiceReferences>ChooseFlow</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Describe_latest_version</name>
            <dataType>Boolean</dataType>
            <fieldText>Describe latest version.</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Get an overview of the latest version rather than the active version. Note, this option always returns the latest version for inactive Flows.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>ActiveVersionChoice</startElementReference>
    <status>Draft</status>
    <variables>
        <name>activeVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latestVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisVersionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
