flows/RESTFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Log the Apex and API info for this Flow</description>
        <name>Apex_and_API_Limits_Checkpoint</name>
        <label>Apex and API Limits Checkpoint</label>
        <locationX>585</locationX>
        <locationY>384</locationY>
        <actionName>ApexAPICheckpoint</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <actionCalls>
        <name>Compute_Limits</name>
        <label>Compute Limits</label>
        <locationX>440</locationX>
        <locationY>386</locationY>
        <actionName>ComputeCheckpoint</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <actionCalls>
        <name>Get_Flow_By_ID</name>
        <label>Get Flow By ID</label>
        <locationX>451</locationX>
        <locationY>212</locationY>
        <actionName>FlowRestRequestController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FlowName</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>flowInput</name>
            <value>
                <stringValue>{!pathFlow},{!method},{!responseFormat},{!bodyContent},{!bodyContentType}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>thisCreatedDate</assignToReference>
            <name>createdDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisDescription</assignToReference>
            <name>description</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisFullName</assignToReference>
            <name>fullName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisFlowID</assignToReference>
            <name>ID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisLastModifiedDate</assignToReference>
            <name>lastModifiedDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisManageableState</assignToReference>
            <name>manageableState</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisMasterLabel</assignToReference>
            <name>MasterLabel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overviewActionCalls</assignToReference>
            <name>overviewActionCalls</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overviewApexPlugins</assignToReference>
            <name>overviewApexPlugins</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overviewRecords</assignToReference>
            <name>overviewRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overviewSubflows</assignToReference>
            <name>overviewSubflows</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisProcessType</assignToReference>
            <name>processType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>thisVersionNumber</assignToReference>
            <name>versionNumber</name>
        </outputParameters>
    </actionCalls>
    <description>Remove &quot;Previous&quot; button from footer</description>
    <formulas>
        <name>Explainer</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!$Flow.FaultMessage}, &quot;400&quot;), &quot;Request not understood.&quot;,
IF( CONTAINS({!$Flow.FaultMessage}, &quot;401&quot;), &quot;User authorization error.&quot;,
IF( CONTAINS({!$Flow.FaultMessage}, &quot;403&quot;), &quot;Request limit exceeded.&quot;,
IF( CONTAINS({!$Flow.FaultMessage}, &quot;404&quot;), &quot;ID or path not found.&quot;,
IF( CONTAINS({!$Flow.FaultMessage}, &quot;500&quot;), &quot;Connection or Platform error.&quot;, null
)))))</expression>
    </formulas>
    <interviewLabel>RESTFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RESTFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Fault_message</name>
        <label>An error occured</label>
        <locationX>37</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errors</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Explainer}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>{!$Flow.FaultMessage}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowName</name>
        <label>FlowName</label>
        <locationX>588</locationX>
        <locationY>24</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>response</name>
            <fieldText>{!OutputString}
{!FlowInformationSummary}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ID_to_fetch_name_of</name>
        <label>ID of Flow</label>
        <locationX>347</locationX>
        <locationY>23</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Flow_By_ID</targetReference>
        </connector>
        <fields>
            <name>Flow_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Input</elementReference>
            </defaultValue>
            <fieldText>Flow ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Search_Object</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Flow</stringValue>
            </defaultValue>
            <fieldText>Search Object</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetID</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>GetID</name>
        <label>GetID</label>
        <locationX>50</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>ID_to_fetch_name_of</targetReference>
        </connector>
        <flowName>Flow_Definitions</flowName>
        <outputAssignments>
            <assignToReference>Input</assignToReference>
            <name>thisVersionNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>bodyContent</name>
        <text>{!nullValue}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyContentType</name>
        <text>application/json</text>
    </textTemplates>
    <textTemplates>
        <name>FlowInformationSummary</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!thisMasterLabel}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;{!thisFullName} with ID: {!thisFlowID}&lt;/I&gt;&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Flow type:&lt;B&gt; {!thisProcessType}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!thisDescription}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Version &lt;B&gt;{!thisVersionNumber}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status: &lt;B&gt;{!thisStatus}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Created: {!thisCreatedDate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Modified: {!thisLastModifiedDate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Managed/Unmanaged: {!thisManageableState}&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;
&lt;B&gt;Record Interactions:&lt;/B&gt;
{!overviewRecords}

&lt;B&gt;Action Calls:&lt;/B&gt;
{!overviewActionCalls}

&lt;B&gt;Subflow Interactions:&lt;/B&gt;
{!overviewSubflows}

&lt;B&gt;Apex Interactions:&lt;/B&gt;
{!overviewApexPlugins}

&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>GET
POST

for example</description>
        <name>method</name>
        <text>GET</text>
    </textTemplates>
    <textTemplates>
        <description>sample
tooling/sobjects/flow/301c0000000EfNiAAK</description>
        <name>pathFlow</name>
        <text>tooling/sobjects/{!Search_Object}/{!Flow_ID}</text>
    </textTemplates>
    <textTemplates>
        <description>JSON</description>
        <name>responseFormat</name>
        <text>application/json</text>
    </textTemplates>
    <variables>
        <name>Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>3011U0000009XWQQA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>nullValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>overviewActionCalls</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overviewApexPlugins</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overviewRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overviewSubflows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisFlowID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisLastModifiedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisManageableState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisMasterLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisVersionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
