flows/TestDataCreator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Static_Resource</name>
        <label>Generate Static Resource</label>
        <locationX>603</locationX>
        <locationY>66</locationY>
        <actionName>StaticResourceGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignTempList</targetReference>
        </connector>
        <inputParameters>
            <name>selectedFields</name>
            <value>
                <elementReference>FieldString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedObject</name>
            <value>
                <elementReference>Object</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testHarnessDevName</name>
            <value>
                <elementReference>TestHarnessDevName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignTempList</name>
        <label>AssignTempList</label>
        <locationX>332</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>tempList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CumulativeList}  --  {!Object}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MoreCSVsScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreateNextCSV</name>
        <label>CreateNextCSV</label>
        <locationX>382</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Another_CSV_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MoreCSVs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Static_Resource</targetReference>
            </connector>
            <label>Create Another CSV File</label>
        </rules>
    </decisions>
    <description>Creates CSVs from selected objects and fields. Invoke StaticResourceGenerator</description>
    <formulas>
        <name>CumulativeList0</name>
        <dataType>String</dataType>
        <expression>&quot; -- &quot; +{!Object}</expression>
    </formulas>
    <interviewLabel>TestDataCreator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestDataCreator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>MoreCSVsScreen</name>
        <label>MoreCSVs</label>
        <locationX>157</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNextCSV</targetReference>
        </connector>
        <fields>
            <name>CurrentResults</name>
            <fieldText>{!CSVResults}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinishedOrNot</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Create more test data.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Test data complete.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MoreCSVs</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SecondarySelector</name>
            <extensionName>c:DependencySelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FieldString</assignToReference>
                <name>outputFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Object</assignToReference>
                <name>outputObject</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>155</locationX>
        <locationY>467</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalCSVsList</name>
            <fieldText>{!CSVResults}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>From_SobjectExplorer</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>From_SobjectExplorer</name>
        <label>From SobjectExplorer</label>
        <locationX>258</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Generate_Static_Resource</targetReference>
        </connector>
        <flowName>SObjectExplorer</flowName>
        <inputAssignments>
            <name>TestHarnessDevName</name>
            <value>
                <elementReference>TestHarnessDevName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FieldString</assignToReference>
            <name>FieldString</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Object</assignToReference>
            <name>Object</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TestHarnessDevName</assignToReference>
            <name>TestHarnessDevName</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CSVResults</name>
        <text>Test data created for: 
{!CumulativeList}</text>
    </textTemplates>
    <textTemplates>
        <name>CumulativeList</name>
        <text>{!tempList}</text>
    </textTemplates>
    <variables>
        <name>FieldString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>list of strings for invocable apex</description>
        <name>flowparams</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Indicates user selection for creating additional CSV of test data for create, modify or verify steps.</description>
        <name>MoreCSVs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestHarnessDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
